<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>

<section>
  <h1>WORDS UP</h1>
    <% words.forEach(word => { %>
      <li><%= word.slang %></a>
      </li>
    <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>