<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css">
<%- include('./partials/nav') %>

<main>
  <h1>Where you from, <%= user ? user.profile.name : "stranger" %>?</h1>
  <div id="intro">
    <p>
      The English language has evolved and mutated over the years as people have found ways to put their stamp on the language. Whether the person of your contempt is a "jive-ass turkey" or a "mook," we all have a slightly different way of communicating the same ideas.
    </p>
    <p>
      SlangShot is about learning and sharing the way we talk in the regions we are influenced by. Simply, sign in with your Gmail account try us out! You can click the "Guess" button to be shown a random word where you can guess the correct definition. If you have a word you'd like others to guess, click the "Add Word" button to create a word card. We hope you have fun learning and teaching each other in this:
    </p>
    <h3>
      Local Lexicon with a Global Audience!!!  
    </h3>
  </div>
</main>

<%- include('./partials/footer') %>
