html {
  box-sizing: border-box;
}

*, 
*::before, 
*::after {
  box-sizing: inherit;
}

body {
  background-color: #1a1a1a;
  color: #000000;
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

nav {
  background-color: #4e4c4c;
  color: #1a1a1a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  min-height: 60px;
}

#nav-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
}

#nav-button {
  border: 5px outset rgb(38, 57, 77);
  padding: 1vh;
  background-color: rgb(53,79,107) ;
  min-height: 60px;
  line-height: 35px;
  text-align: center;
}

a {
  color: rgb(213, 213, 213);
  text-decoration: none;
}

#slangshot {
  font-family: 'Bruno Ace SC', cursive;
  font-size: 28px;
  color: rgb(255, 253, 253);
  text-decoration: none;
}

#list-word {
  color: black;
}

main {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255, .8);
  justify-content: center;
  flex-direction: column;
  padding: 0 5vh 5vh;
  margin: 5vh;
  overflow-wrap: normal;
  max-width: 150vh;
  font-family: 'Bitter', serif;
}


.right {
  border: 5px outset rgb(7, 0, 99);
  padding: 1vh;
  background-color: rgb(64, 71, 197);
  min-height: 60px;
  line-height: 35px;
  text-align: center;
}

p {
  text-indent: 5vh;
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh;
  background-color: rgb(253, 253, 253, .7);
  border: groove rgb(0, 0, 0, .5);
}

@media only screen and (min-width: 160vh) {
  main{
    margin: 5vh auto;
  }
}